.list-item_num {
    list-style-type: none;
    display: inline-block;
    padding-left: 0px;
}

.list-item-weeks_days {
    margin-left: 80px;
}

.list-item-num_days {
    width: 100px;
    margin-left: 100px;
}