* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}
.header {
    display: flex;
    height: 7vh;
    align-items: center;
}

.btn {
    margin: 25px;
}
.button-create {
    margin-left: 70px;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
}

.button-today {
    padding: 10px;
    font-weight: 700;
}
.button-prev {
    font-weight: bold;
    margin-right: 7px;
    padding: 6px;
    border: none;
    background-color: white;
    outline: none;
}
.button-next {
    font-weight: bold;
    margin-right: 15px;
    padding: 6px;
    border: none;
    background-color: white;
    outline: none;
}

.mounth {
    font-weight: bold;
    font-size: 22px;
}
section {
    margin-top: 100px;
    display: flex;
    width: 9%;
}
.list-times {
    margin-top: 80px;
    width: 20vw;
    list-style-type: none;
    line-height: 3;
}
main {
    display: flex;
    font-size: 20px;
}
article {
    font-size: 22px;
    font-weight: bold;
}

.list-item_num {
    list-style-type: none;
    display: inline-block;
    padding-left: 0px;
}

.list-item-weeks_days {
    margin-left: 110px;
}

.list-item-num_days {
    margin-left: 135px;
}

.row-list {
    margin-top: 50px;
    width: 1408px;
}
.column-list {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 200px;
}
.column-item_child {
    border-left: 1px solid rgb(71, 66, 66);
    height: 1480px;
    padding-left: 205px;
}
.row-item_child {
    height: 60px;
    border-top: 1px solid rgb(71, 66, 66);
}

.mark-close {
    margin-top: 5px;
    margin-left: 415px;
    font-weight: bold;
    font-size: 25px;
    transform: rotate(45deg);
    border: none;
    outline: none;
    background-color: white;
}
.save-btn {
    width: 150px;
    height: 40px;
    background-color: rgb(43, 151, 223);
    border-radius: 5%;
    color: white;
    font-size: 16px;
    margin-top: 70px;
    margin-left: 280px;
}

h1 {
    font-size: 25px;
    font-weight: 200px;
    margin-left: 140px;
}
.line-coment {
    width: 320px;
    height: 5px;
    background-color: rgb(54, 54, 150);
    margin-left: 120px;
}
.fa-align-left {
    margin-left: 40px;
    margin-top: 80px;
}

.input-coment,
.input-coment_clock {
    margin-left: 30px;
    border: none;
}
.clock {
    margin-left: 40px;
    margin-top: 100px;
}
.fa {
    font-size: 30px;
}
.items {
    margin-top: 60px;
    display: inline-block;
    flex-direction: row;
    // flex-grow: 1;
}
.item-cell {
    align-items: center;
    min-width: 200px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #e7e7e7;
}



.form-coment {
    width: 450px;
    height: 450px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}
