* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

section {
    margin-top: 100px;
    display: flex;
    width: 9%;
}

main {
    display: flex;
    font-size: 20px;
}

article {
    font-size: 22px;
    font-weight: bold;
}